<!doctype html>
<html lang="en">
	<head>
	<title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="FooBar">
   <div class="container" ng-controller="BarFoo">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="input" ng-style="customStyle.border"
             placeholder="list comma separated** dishes you usually have for lunch"
             class="form-control">
			 <p>** Please note that ",," and whitespace or empty strings are NOT considered an item</p>
         </div>
         <div class="form-group">
             <button ng-click="checkResult()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
			<p ng-style="customStyle.color">{{result}}</p>
         </div>
   </div>

</body>
</html>
